::-webkit-scrollbar {
    display: none;
}

.app__scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    background: gray;
    z-index: 2;
}

/* .app__scrollbar .progress-bar {
    transition: .1s linear;
} */