.app__testimonials-item {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1.4;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.app__testimonials-item .testimonial {
    position: relative;
    background: #181818;
    padding: 3rem;
}

.app__testimonials-item .testimonial p {
    font-family: var(--font__3);
    font-weight: 100;
    font-size: var(--mediumText);
    color: var(--white__3);
}

.app__testimonials-item .testimonial button {
    position: absolute;
    background: transparent;
    border: 1.5px solid var(--white);
    border-radius: 50%;
    padding: .1rem;
    color: var(--white);
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.app__testimonials-item .testimonial button:disabled {
    display: none;
}

.app__testimonials-item .testimonial button.previous {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.app__testimonials-item .testimonial button.next {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.app__testimonials-item .user :is(h1, h3) {
    font-family: var(--font__3);
    font-weight: 300;
    font-size: 28px;
    margin-top: 1rem;
}
.app__testimonials-item .user h3 {
    margin-top: 0;
    color: var(--white__3);
    font-size: 22px;
}

@media screen and (width <= 600px) {
    .app__testimonials-item .testimonial {
        padding: 2rem 1.5rem;
    }
}