.app__intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    gap: 2.5rem;
}

.app__intro h3 {
    letter-spacing: 2px;
}

.app__intro p {
    margin-left: 2rem;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 4px;
    width: 100%;
    max-width: 470px;
}

.app__intro .bar {
    width: 40px;
    height: 1.5px;
    background: var(--white);
}