.app__portfolio-projects {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.app__portfolio-projects .app__projects-item {
    width: 100%;
    aspect-ratio: 2.2;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.app__portfolio-projects .app__projects-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__portfolio-projects .app__projects-item .project-title {
    position: absolute;
    left: 0;
    bottom: 2rem;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.app__portfolio-projects .app__projects-item .project-title label {
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    border: 1px solid var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: opacity .3s;
}

.app__portfolio-projects .app__projects-item:hover .project-title label {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s;
}

.app__portfolio-projects .app__projects-item .project-title h2 {
    background: rgba(0, 0, 0, .3);
    padding: .25rem 1rem;
    border-radius: 6px;
    font-family: var(--font__3);
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -.25px;
}

.app__project-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, .9);
    z-index: 11;
    display: flex;
}

.app__project-gallery .app__project-gallery-left-controls,
.app__project-gallery .app__project-gallery-right-controls {
    width: 10%;
    max-width: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8px;
}

.app__project-gallery .images-container-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__project-gallery .images-container-wrapper .images-container {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 2.2;
    position: relative;
    overflow: hidden;
}

.app__project-gallery .images-container-wrapper .images-container .loading-images {
    width: 40px;
    height: 40px;
    border: 2px solid var(--white);
    border-bottom-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.app__project-gallery .images-container-wrapper .images-container .loading-images.active {
    opacity: 1;
    visibility: visible;
    animation: loading 2s linear infinite;
}

.app__project-gallery .images-container-wrapper .images-container .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform .3s;
}

.app__project-gallery .images-container-wrapper .images-container .image.active {
    transform: scaleY(1);
}

.app__project-gallery .images-container-wrapper .images-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__project-gallery .app__project-gallery-details {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.app__project-gallery .app__project-gallery-details.active {
    visibility: visible;
    opacity: 1;
}

.app__project-gallery .app__project-gallery-details .gallery-details-content {
    height: 100%;
    width: 100%;
    max-width: 600px;
    background: #070707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    transform: translateX(-100%);
    transition: .3s;
}

.app__project-gallery .app__project-gallery-details.active .gallery-details-content {
    transform: translateX(0);
}

.app__project-gallery .app__project-gallery-details .gallery-details-content h1 {
    font-family: var(--font__3);
    font-size: var(--largeText);
    margin-bottom: 1.5rem;
    position: relative;
}

.app__project-gallery .app__project-gallery-details .gallery-details-content h1::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: var(--white);
    bottom: 0;
    left: 0;
}

.app__project-gallery .app__project-gallery-details .gallery-details-content p {
    font-family: var(--font__3);
    font-size: 22px;
    font-weight: 200;
    color: var(--white__3);
}

.app__project-gallery .gallery-icon {
    cursor: pointer;
}

.app__project-gallery button.gallery-icon {
    transition: .2s;
}

.app__project-gallery button.gallery-icon:disabled {
    opacity: .1;
    cursor: not-allowed;
}

@media screen and (width <= 600px) {
    .app__portfolio-projects .app__projects-item .project-title {
        bottom: 1rem;
        padding: 0 1rem;
    }

    
    .app__project-gallery .images-container-wrapper .images-container {
        aspect-ratio: 1;
    }

    .app__project-gallery .app__project-gallery-details .gallery-details-content {
        padding: 0 2.5rem;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}