.app__experiences-timeline {
    display: flex;
    gap: 2.5rem;
}

.app__experiences-timeline .line {
    width: 1px;
    height: auto;
    background: var(--white__2);
}

.app__experiences-timeline .app__experiences-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.app__experiences-timeline .app__experiences-container .app__experiences-item {
    width: 100%;
    padding: 2rem 3.5rem;
    background: #171717;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.app__experiences-timeline .app__experiences-container .app__experiences-item::before {
    position: absolute;
    content: '';
    left: -1rem;
    top: 2rem;
    width: 1rem;
    height: 1rem;
    border-top: 1rem solid #171717;
    border-left: 1rem solid #171717;
    transform: rotateZ(-45deg);
}

.app__experiences-timeline .app__experiences-container .app__experiences-item::after {
    position: absolute;
    content: '';
    left: -2.5rem;
    top: 2rem;
    width: 2px;
    height: 2.5rem;
    background: var(--white);
    transform: translateX(-50%);
}

.app__experiences-timeline .app__experiences-container .app__experiences-item h3 {
    font-family: var(--font__3);
    font-weight: 400;
    font-size: var(--smallText);
    letter-spacing: .24px;
}

.app__experiences-timeline .app__experiences-container .app__experiences-item h1 {
    font-family: var(--font__3);
    font-weight: 200;
    font-size: 26px;
}

.app__experiences-timeline .app__experiences-container .app__experiences-item p {
    font-family: var(--font__3);
    font-weight: 200;
    font-size: 25px;
    color: var(--white__2);
}

@media screen and (width <= 600px) {
    .app__experiences-timeline .app__experiences-container .app__experiences-item {
        padding: 1rem 1.5rem;
    }
}