.app__about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    gap: 2.5rem;
}

.app__about h3 {
    letter-spacing: 2px;
}

.app__about .first {
    margin-left: 2rem;
    font-size: 34px;
    line-height: 34px;
    font-weight: lighter;
    letter-spacing: 2px;
    width: 100%;
    max-width: 480px;
}

.app__about .bar {
    width: 40px;
    height: 1.5px;
    background: var(--white);
}

.app__about .second {
    font-size: 22px;
    line-height: 30px;
    color: var(--white__2);
    width: 100%;
    max-width: 480px;
    font-family: var(--font__2);
}

@media screen and (width <= 800px) {
    .app__about .first {
        font-size: 30px;
        line-height: 30px;
        margin-left: .75rem;
    }

    .app__about .second {
        font-size: 18px;
        line-height: 30px;
    }
}