.app__cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    display: grid;
    place-items: center;
    z-index: 12;
    transition: width .2s, height .2s, border-width .15s;
    pointer-events: none;
    user-select: none;
}

.app__cursor.hidden {
    width: 0;
    height: 0;
    border-width: 0;
}

.app__cursor.hidden .cursor-point {
    width: 0;
    height: 0;
}

.app__cursor .cursor-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: width .2s, height .2s;
    position: relative;
}

.app__cursor .cursor-point.pulse::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border: 1px solid yellow;
    border-radius: 50%;
    animation: pulse .25s 1 linear;
    z-index: -1;
}

.app__cursor.hidden .cursor-point::before {
    border-width: 0;
}

@keyframes pulse {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

@media screen and (width <= 750px) {
    .app__cursor {
        display: none;
    }
}