.app__intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    gap: 2.5rem;
}

.app__intro h3 {
    letter-spacing: 1.5px;
    font-family: var(--font__3);
    font-size: var(--smallText);
    font-weight: 600;
}

.app__intro p {
    margin-left: 2rem;
    font-size: var(--verylargeText);
    line-height: var(--verylargeText);
    font-family: var(--font__3);
    font-weight: 200;
    letter-spacing: .6px;
    width: 100%;
    max-width: 470px;
}

.app__intro p span {
    font-size: var(--verylargeText);
    line-height: var(--verylargeText);
    font-family: var(--font__3);
    font-weight: 200;
    letter-spacing: .6px;
}

.app__intro .bar {
    width: 30px;
    height: 1.5px;
    background: var(--white);
}

@media screen and (width <= 575px) {
    .app__intro p {
        margin-left: .5rem;
        font-size: 65px;
        line-height: 65px;
    }
}