.app__leftcard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
    flex: .5;
    position: sticky;
    top: 0;
}

.app__leftcard .image-container {
    width: 100%;
    position: relative;
    transform: perspective(5rem) 
               rotate3d(0, 0.1, 0, .03rad);
    display: grid;
    place-items: center;
}

.app__leftcard .image-container .border {
    position: absolute;
    width: 70%;
    max-width: 360px;
    aspect-ratio: .8;
    border-width: 1px;
    border-style: solid;
    z-index: -1;
}

.app__leftcard .image-container .border-1 {
    margin-left: -12%;
    margin-top: 12%;
    border-color: var(--white__1);
}
.app__leftcard .image-container .border-2 {
    margin-left: -8%;
    margin-top: 8%;
    border-color: var(--white__2);

}
.app__leftcard .image-container .border-3 {
    margin-left: -4%;
    margin-top: 4%;
    border-color: var(--white__3);
}

.app__leftcard .image-container .profile {
    width: 70%;
    max-width: 360px;
    aspect-ratio: .8;
    position: absolute;
}

.app__leftcard .image-container .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app__leftcard .image-container .profile .title {
    position: absolute;
    left: 1.5rem;
    bottom: 2rem;
    color: var(--white);
    letter-spacing: 1px;
    z-index: 3;
}

.app__leftcard .image-container .title span {
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    width: 50%;
    height: 2px;
    background: var(--white);
}