.app {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
}

.app__main-content {
    flex: .5;
    padding-bottom: 5rem;
}

::selection {
    background: transparent;
}

.app.yellow *::selection {
    color: yellow;
}
.app.blue *::selection {
    color: blue;
}
.app.red *::selection {
    color: red;
}
.app.orange *::selection {
    color: orange;
}
.app.lightseagreen *::selection {
    color: lightseagreen;
}
.app.white *::selection {
    color: white;
}
.app.greenyellow *::selection {
    color: greenyellow;
}
.app.green *::selection {
    color: green;
}

.app.yellow .app__cursor .cursor-point.pulse::before {
    border-color: yellow;
}
.app.blue .app__cursor .cursor-point.pulse::before {
    border-color: blue;
}
.app.red .app__cursor .cursor-point.pulse::before {
    border-color: red;
}
.app.orange .app__cursor .cursor-point.pulse::before {
    border-color: orange;
}
.app.lightseagreen .app__cursor .cursor-point.pulse::before {
    border-color: lightseagreen;
}
.app.white .app__cursor .cursor-point.pulse::before {
    border-color: white;
}
.app.greenyellow .app__cursor .cursor-point.pulse::before {
    border-color: greenyellow;
}
.app.green .app__cursor .cursor-point.pulse::before {
    border-color: green;
}


@media screen and (width <= 800px) {
    .app {
        flex-direction: column;
        padding: 0 2rem;
        align-items: center;
    }
}