.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.app__main-content {
    flex: .5;
}

::selection {
    background: transparent;
}

.app.yellow *::selection {
    color: yellow;
}
.app.blue *::selection {
    color: blue;
}
.app.red *::selection {
    color: red;
}
.app.orange *::selection {
    color: orange;
}
.app.lightseagreen *::selection {
    color: lightseagreen;
}
.app.white *::selection {
    color: white;
}
.app.greenyellow *::selection {
    color: greenyellow;
}
.app.green *::selection {
    color: green;
}