@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Source+Sans+Pro:wght@300;400;700&display=swap');

:root {
    --main__color: orangered;

    --white__1:    #e4e4e425;
    --white__2:    #e4e4e450;
    --white__3:    #e4e4e480;
    --white:       #e4e4e4;
    
    --gray:        #7c7c7c;

    --background:  #212121;

    --font__1: 'Teko';
    --font__2: 'Montserrat';
    --font__3: 'Source Sans Pro';

    --smallText:     15px;
    --mediumText:    24px;
    --largeText:     36px;
    --verylargeText: 70px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font__1);
}

body {
    background: var(--background);
}