.app__cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    display: grid;
    place-items: center;
    z-index: 12;
    pointer-events: none;
}

.app__cursor.hidden {
    display: none;
}

.app__cursor .cursor-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}