.app__cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    display: grid;
    place-items: center;
    z-index: 12;
    transition: width .2s, height .2s, border-width .15s;
    pointer-events: none;
}

.app__cursor.hidden {
    width: 0;
    height: 0;
    border-width: 0;
}

.app__cursor.hidden .cursor-point {
    width: 0;
    height: 0;
}

.app__cursor .cursor-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: width .2s, height .2s;
}